/MavenSpringMVC/.idea
/MavenSpringMVC/Spittr/target
/HelloJava/.idea
/HelloJava/out
/Ying/HelloMybatis/target
/HelloMaven/.idea
/HelloMaven/thinking-in-java/target
/HelloMaven/thinking-in-java/thinking-in-java.iml
/HelloMaven/designpatterns/target
/HelloMaven/designpatterns/designpatterns.iml
/HelloMaven/algorithms/target
/HelloMaven/algorithms/algorithms.iml