<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.ying.dao.UserDao">

    <select id="queryUserById" resultType="com.ying.bean.User">
        select
          id, userName, password, name, age, birthday, sex, created, updated
        from
          tb_user
        where
          id = #{id} and age = #{age}
    </select>

    <select id="queryUserAll" resultType="com.ying.bean.User">
        select * from tb_user
    </select>

    <insert id="insertUser" parameterType="com.ying.bean.User">
        insert into tb_user (
          userName, password, name, age, sex, birthday, created, updated
        ) values (
          #{userName}, #{password}, #{name}, #{age}, #{sex}, #{birthday}, now(), now()
        )
    </insert>

    <update id="updateUser" parameterType="com.ying.bean.User">
        update tb_user
          <trim prefix="set" suffixOverrides=",">
              <if test="userName!=null">userName = #{userName}, </if>
              <if test="password!=null">password = #{password}, </if>
              <if test="name!=null">name = #{name}, </if>
              <if test="age!=null">age = #{age}, </if>
              <if test="sex!=null">sex = #{sex}, </if>
              <if test="birthday!=null">birthday = #{birthday}, </if>
              updated = now()
          </trim>
        where
          id = #{id}
    </update>

    <delete id="deleteUser">
        delete from tb_user where id=#{id}
    </delete>

</mapper>
